
/*-- reset styles --*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*------------ header styles --------*/

.header {
    height: 100px;
    color: #fff;
    justify-content: space-evenly;
}

.h-foodmart {
    font-size: 24px;
    font-weight: 700;
}

.nav-list-ul {
    list-style: none;
}

.nav-list-li {
    font-size: 20px;
}



/*------------- main styles ------------*/


/* description */

.Fruit-Vegetable {
    height: auto;
    padding-left: 250px;
}

.description p:first-child{
    border-radius: 12px;
    padding: 0 15px;
}

.description h3{
    width: 360px;
}

.buttom-link button {
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 0 30px;
    font-size: 24px;
    font-family: inherit;
    margin-top: 25px;
}


/* Categories */

.Categories {
    margin-top: 10rem;
}

.Categories-show-more {
    margin-top: 1.3rem;
}

.Categories-p p {
    font-size: 64px;
}

.show-more button {
    font-size: 26px;
    padding: 5px 20px;
    border-radius: 15px;
    border: none;
}

.Categories-box {
    max-width: 340px;
    height: 340px;
    border-radius: 15px;
    background-image: url(/assets/images/2.jpg);
    background-position: center;
    background-size: cover;
    padding: 1rem;
}

.Categories-box h4 {
    font-size: 36px;
}

.Categories-box p {
    font-size: 20px;
    line-height: 118%;
    color: white;
}

.Categories-box .show-more button {
    margin-top: 1.5rem;
}

/* Categories2 */

.Categories2 {
    margin-top: 10rem;
}







/*------------------ selectores ---------------*/

.font-Kadwa {
  font-family: "Kadwa", serif;
}

.color-green {
    color: #003500;
}

.color-yellow {
    color: #FFC107;
}

.color-white {
    color: #B4C8B1;
}

.b-color-green {
    background-color: #003500;
}

.b-color-yellow {
    background-color: #FFC107;
}

.b-color-white {
    background-color: #B4C8B1;
}

.D-inline-block {
    display: inline-block;
}

.D-flex {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.just-content-center {
    justify-content: center;
}

.just-content-between {
    justify-content: space-between;
}

.just-content-evenly {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.flex-warp {
    flex-wrap: wrap;
}

.gap-20 {
    gap: 20px;
}

.gap-10 {
    gap: 10px;
}

.P-relative {
    position: relative;
}

.P-absolute {
    position: absolute;
}

.buttom-0 {
    bottom: 0;
}

.right-0 {
    right: 0;
}

.M-left {
    margin-left: 1rem;
}

.M-top {
    margin-top: 1rem;
}

.w-32 {
    width: 20px;
}

.w-1000 {
    width: 1000px;
}

.font-size-10px {
    font-size: 10px;
}

.font-size-24px {
    font-size: 24px;
}

.font-size-32px {
    font-size: 32px;
}

.font-size-96px {
    font-size: 75px;
}

.line-height {
    line-height: 132%;
}
